@use 'shared';

.list {
  width: 100%;
  height: calc(100vh - 346px);
  margin-bottom: 0;
}

.scrollable {
  @include shared.custom-scroll();
  @include shared.flex(column);
  gap: calc(4 * var(--offset-base-size));
  box-sizing: border-box;
  max-height: calc(100% - 224px);
  padding: 0;
  overflow: auto;
  list-style: none;
}

.item {
  @include shared.flex(row, $jc: end);
  gap: calc(2 * var(--offset-base-size));
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.controls {
  @include shared.flex(row, end);
  gap: calc(10 * var(--offset-base-size));
}
