@use 'shared';

.container-form {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-self: start;
  gap: calc(15 * var(--offset-base-size));
}

.container-orders {
  @include shared.flex(row, start, start);
  gap: calc(15 * var(--offset-base-size));
  width: 100%;
}

.tab {
  display: block;
  width: 328px;
  text-decoration: none;
}
