@mixin custom-scroll($offset-bottom: 0, $offset-top: 0) {
  &::-webkit-scrollbar {
    width: 8px;
    height: 100%;

    &-thumb {
      width: 8px;
      background-color: #8585ad;
    }

    &-track-piece:start {
      margin-top: $offset-top;
      background-color: #2f2f37;
    }

    &-track-piece:end {
      margin-bottom: $offset-bottom;
      background-color: #2f2f37;
    }
  }
}

@mixin flex($dir, $jc: start, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: flex-$jc;
  align-items: flex-$ai;
}
