.body {
  width: 100%;
  margin: 0;
  background-color: var(--background-alt);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
