@use 'shared';

.body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @include shared.flex(column);
  width: 100%;
}

#modal {
  @include shared.flex(column, center);
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}

.modal_opened {
  width: 100vw;
  height: 100vh;
}
