@use 'shared';

.orders {
  @include shared.flex(column);
  @include shared.custom-scroll(64px);
  gap: calc(6 * var(--offset-base-size));
  max-height: calc(100vh - 188px);
  overflow: auto;
}

.self {
  @include shared.flex(column-reverse);
}
