@use 'shared';

.section {
  width: calc(50% - 5 * var(--offset-base-size));
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredients {
  @include shared.custom-scroll(52px);
  height: calc(100vh - 284px);
  overflow: auto;
}
