@use 'shared';

.list {
  @include shared.flex(row);
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredients {
  @include shared.custom-scroll(52px);
  max-height: calc(100vh - 286px);
  overflow: auto;
}
