.figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.image {
  width: 240px;
  height: 120px;
  cursor: pointer;
}

.caption {
  text-align: center;
  cursor: pointer;
}

.paragraph {
  min-height: 48px;
}
